.Stat-father
{
    display: flex;
}

.Stat
{
    font-size: calc(10px + 2vmin);
    color: #FF5C00;
    width: 100%;
}

.Stat-img
{
    height: 8vmin;
    pointer-events: none;
}

.FuturUpgradeFather >:nth-child(1)
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1vmin;
    grid-row-gap: 1vmin;
    margin-top: 2vmin;
}

.FuturUpgradeFather >:nth-child(1) > *
{
    backdrop-filter: var(--blurry-lighter);
    border-radius: var(--blurry-border);
}