.NoPseudoPage {
    display: grid;
    justify-content: center;
    height: 100%;
    width: 101%;


    grid-column: 1/-1;
}

.NoPseudoPage > div {
    padding-bottom: 10px;

}



.gridNoPseudoPage
{
    display: grid;


    margin-top: 5vmin;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 5vmin 5vmin;
    grid-auto-rows: minmax(100px, auto);
}

.gridNoPseudoPage > *
{
    backdrop-filter: blur(16px) brightness(0.5);
    border-radius: 10px;
}


.DiscordUrl
{
    color: inherit;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    height: fit-content;
    width: 100%;
    grid-column: 1/-1;
}

.DiscordUrl > div
{
    display: flex;
}

.DiscordUrl:hover
{
    transition: transform 0.25s;
    transform: scale(1.02);
}

.Contributor
{
    color: inherit;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    height: fit-content;
    width: 100%;
}

.Contributor > div
{
    display: flex;
}

.Contributor-hover:hover
{
    transition: transform 0.25s;
    transform: scale(1.02);
}