PALADIUM_API_KEY="00000000-0000-0000-0000-000000000000" # paladium dev key, get your own by following the instructions at https://api.paladium.games/docs
NEXT_PUBLIC_PALACLICKER_API_URL="https://api.paladium.games" # or "https://palatracker.bromine.fr" if you have access to the backend
NEXT_PUBLIC_PALACLICKER_API_WS="" # or "wss://palatracker.bromine.fr" if you have access to the backend
PALADIUM_API_URL="https://api.paladium.games" # or "https://palatracker.bromine.fr" if we don't care about metrics