.ul-metier {

}

.grid-metier
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5vmin 5vmin;
    width: auto;
    overflow: hidden;
}

.Info-Metier-list {
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 10px 10px;
    display: flex;
}

.Metier-Cercle {
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    margin-left: 10px;
}

.Metier-img {
    height: 20vmin;
    pointer-events: none;
    position: inherit;
    z-index: 2;
}

.progress-bar {
    position: absolute;
    top: 54%;
    background: transparent;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15vmin;
    height: 20vmin;
    margin-top: -1vmin;
}
.progress {
    width: 100%;
    height: 100%;
    background: transparent;
}
.progress .track,
.progress .fill {
    fill: rgba(0, 0, 0, 0);
    stroke-width: 90;
    transform: translate(75px, 700px) rotate(-90deg);
}
.progress .track {
    stroke: #293249;
}
.progress .fill {
    stroke-linecap: round;
    stroke-dasharray: 2160;
    stroke-dashoffset: 2160;
    transition: stroke-dashoffset 1s;
    stroke-linejoin: round; /*Added this css*/
}
.progress.blue .fill {
    stroke: #FFFFFF;
    stroke-linejoin: round; /*Added this css*/
    stroke-dashoffset: 1080;
}

.Lvl-txt
{
    border: 1px solid transparent;
    justify-content: space-between;
    border-radius: 10px;
    position: absolute;
    margin-top: 15vmin;
    /*margin-left: 17.5vmin;*/
    z-index: 2;
    width: fit-content;
    /*padding-left: 2vmin;*/
    /*padding-right: 2vmin;*/
    padding-bottom: 0px;
}

.ArrowUpDown
{
    margin-left: -2vmin;
    margin-top: 0.2vmin;
    display:flex;
    flex-direction: column;
    height: 100%;
}

/* First child reduce size */
.ArrowUpDown > :first-child {
    color:black;
    font-size: 80%;
    padding-right: 10px;
}

/* Second child */
.ArrowUpDown > :last-child {
    color:black;
    font-size: 80%;
    padding-right: 10px;
}

/* all children */
.ArrowUpDown > *  :hover{
    color: white;
}

.Lvl-inside-txt {
    -moz-appearance: textfield;
    background: transparent;
    border: none;
    padding-left: 15px;
    padding-right: 0px;
    width: 5vmin;
    min-width: 6vmin;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.Lvl-inside-txt
{
    text-align: center;
    font-size: 3vmin;
    font-weight: bold;
    color: white;
}
