@media (max-width: 450px) {
    .ImportExport {
        z-index: 1;
        position: relative;
        row-gap: 2vmin;
        justify-content: center;
        padding-right: 5vmin;
        flex-direction: column;
        display: inline-flex;
    }
}

.ImportExport {
    z-index: 1;
    position: relative;
    column-gap: 2vmin;
    display: flex;
    justify-content: center;
    padding-right: 5vmin;

}


.RED {
    background-color: red;
    color: white;
}



#pseudoInput[type=pseudo]
{
    padding-left: 12px;
}
#pseudoInput
{
    background: white;
    border: 3px solid #FF5C00;
    border-radius: 5px;
    color: #FF5C00;
    font-weight: bold;
}