@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        --background: 0 0% 100%; /* #FFFFFF */
        --foreground: 240 10% 4% /* #09090B */;
        --popover: 0 0% 100% /* #FFFFFF */;
        --popover-foreground: 240 10% 4% /* #09090B */;
        --card: 30 10% 92% /* #edebe9 */;
        --card-foreground: 0 0% 0% /* #000000 */;
        --border: 0 0% 0% /* #000000 */;
        --input: 240 60% 90% /* #E4E4E7 */;
        --primary: 22 100% 50% /* #FF5C00 */;
        --primary-darker: 22 100% 40% /* #CC4A00 */;
        --primary-foreground: 0 0% 100% /* #FFFFFF */; 
        --secondary: 240 5% 96% /* #F4F4F5 */;
        --secondary-foreground: 240 4% 46% /* #71717A */;
        --secondary: 240 5% 96% /* #f4f4f5 */;
        --accent: 240 5% 96% /* #F4F4F5 */;
        --accent-foreground: 240 6% 10% /* #18181B */;
        --destructive: 0 84% 60% /* #EF4444 */;
        --destructive-foreground: 0 0% 100% /* #FFFFFF */;
        --ring: 240 6% 10% /* #18181B */;
        --radius: 0.5rem;
    }

    .dark {
        --background: 220.9 39.3% 11%; /* #111827; */
        --foreground: 0 0% 100% /* #FFFFFF */;
        --popover: 221 39% 11% /* #111827 */;
        --popover-foreground: 0 0% 100% /* #FFFFFF */;
        --card: 215 28% 17% /* #1f2937 */;
        --card-foreground: 0 0% 100% /* #FFFFFF */;
        --border: 0 0% 43% /* #6d6d6d */;
        --input: 240 4% 16% /* #27272A */;
        --primary: 22 100% 50% /* #FF5C00 */;
        --primary-foreground: 0 0% 100% /* #FFFFFF */;
        --secondary: 217 19% 27% /* #374151 */;
        --secondary-foreground: 240 5% 65% /* #A1A1AA */;
        --accent: 240 4% 16% /* #27272A */;
        --accent-foreground: 0 0% 100% /* #FFFFFF */;
        --destructive: 18 66% 43% /* #B45025 */;
        --destructive-foreground: 0 0% 100% /* #FFFFFF */;
        --ring: 240 5% 84% /* #D4D4D8 */;
    }
}

@layer base {
    .font-outline-2 {
        -webkit-text-stroke: 2px black;
    }

    .font-outline-4 {
        -webkit-text-stroke: 4px black;
    }
}

@layer base {
    * {
        @apply border-border;
    }
}


@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

@font-face {
    font-family: 'Minecraft';
    src: url('/minecraft.woff2') format('woff2');
}

@font-face {
    font-family: 'Pixel NES';
    src: url('/Pixel_NES.otf') format('opentype');
}
