.rct-text > label {
    display: inline-flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}


.rct-checkbox {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;

}

