.RPS-father
{
    display: flex;
}

.RPS {
    font-size: calc(10px + 2vmin);
    color: #FF5C00;
}

.RPSValue {
    margin-right: 10px;
    font-size: calc(10px + 2vmin);
    color: orange;
}

.Building-To-Buy-img {
    width: 10vmin;
}