.gridClicker {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(13, auto);
    grid-column-gap: 3vmin;
    grid-row-gap: 2vmin;
    margin: 2vmin 1vmin 0 1vmin;
}

.gridClicker > * {
    width: 1fr;
    overflow: auto;
}

.gridClicker > :nth-child(1) {
    /* Header + ImportProfil*/
    grid-column: 1 / -1;

}

.gridClicker > :nth-child(2) {
    /* Current Prod */
    grid-column: 1 / 1;
    grid-row: 2;


}

.gridClicker > :nth-child(3) {
    /* Building to buy */
    grid-column: 2 / 2;
    grid-row: 2;

}

.gridClicker > :nth-child(4) {
    /* Prod estimated */
    grid-column: 3 / 3;
    grid-row: 2;

}

.gridClicker > :nth-child(5) {
    /* Stats */
    grid-column: 1 / -1;

}

.gridClicker > :nth-child(6) {
    /* MetierList */
    grid-column: 1 / -1;

}

.gridClicker > :nth-child(7) {
    /* Batiment */
    grid-column: 1 / -1;

}

.gridClicker > :nth-child(8) {
    /* Clic */
    grid-column: 1 / -1;

}

.gridClicker > :nth-child(9) {
    /* Global */
    grid-column: 1 / -1;

}

.gridClicker > :nth-child(10) {
    /* Terrain */
    grid-column: 1 / -1;

}

.gridClicker > :nth-child(11) {
    /* Amelioration batiment */
    grid-column: 1 / -1;

}

.gridClicker > :nth-child(12) {
    /* Many */
    grid-column: 1 / -1;

}

.gridClicker > :nth-child(13) {
    /* Posterior */
    grid-column: 1 / -1;

}

.gridClicker > :nth-child(14) {
    /* Category */
    grid-column: 1 / -1;

}