.RPS-father
{
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
    position: relative;
}
.RPS
{
    font-size: calc(10px + 2vmin);
    color: white;
}

.RPSValue
{
    margin-right: 10px;
    font-size: calc(10px + 2vmin);
    color: orange;
}

.Building-To-Buy-img
{
    width: 10vmin;
}