@media (max-width: 450px) {
    .ImportExport {
        z-index: 1;
        position: relative;
        row-gap: 2vmin;
        justify-content: center;
        padding-right: 5vmin;
        flex-direction: column;
        display: inline-flex;
    }
}

.ImportExport {
    z-index: 1;
    position: relative;
    column-gap: 2vmin;
    display: flex;
    justify-content: center;
    /*padding-right: 5vmin;*/

}


.RED {
    background-color: red;
    color: white;
}



.pseudoInput[type=pseudo]
{
    padding-left: 12px;
}

.pseudoInput
{
    border-bottom-left-radius: 18px 18px;
    border-top-left-radius: 18px 18px;

    border: none;
    color: #FFFFFF;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.2);

}

.searchPseudoButton
{

    border-bottom-right-radius: 18px 18px;
    border-top-right-radius: 18px 18px;
    border-bottom-left-radius: 0px 0px;
    border-top-left-radius: 0px 0px;
    background-color: rgba(0, 0, 0, 0.15);
}

.searchPseudoBar
{
    display: flex;
    background-color: rgba(256, 92, 0, 1);
    border-radius: 18px;
}

.searchPseudoBar :hover
{
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.1s;
}

