.hexagon-shape {
    position: absolute;
    overflow: hidden;
    background: transparent;
    /* add slash at the end of line to see the rhombus *
    outline: solid 1px red;/**/
    width: 72.28px;
    height: 72.28px;
    transform: rotate(-30deg) skewX(30deg) scaleY(.866) scale(2.8);
/*scale(2.8);*/
    top: 6.4rem;
    left: 5.7rem;

}
.hexagon-shape:before {
    position: absolute;
    right: 6.7%;
    bottom: 0;
    left: 6.7%;
    top: 0;
    transform: scaleY(1.155) skewX(-30deg) rotate(30deg);
    background: linear-gradient(59.82deg, #0976CE 0%, #0976CE 49.36%, #3A91D7 50.11%, #3A91D7 100%);
    content: '';
}


.progress-bar {
    position: absolute;
    top: 53.5%;
    background: transparent;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 15rem;
    margin-top: -0.7rem;
    z-index: 1;

    @media (max-width: 511px) {
        top: 58.5%;
    }
}
.progress {
    width: 100%;
    height: 100%;
    background: transparent;
}
.progress .track,
.progress .fill {
    fill: rgba(0, 0, 0, 0);
    stroke-width: 85;
    transform: translate(75px, 700px) rotate(-90deg);
}
.progress .track {
    stroke: #293249;
}
.progress .fill {
    stroke-linecap: round;
    stroke-dasharray: 2160;
    stroke-dashoffset: 2160;
    transition: stroke-dashoffset 1s;
    stroke-linejoin: round; /*Added this css*/
}
.progress.blue .fill {
    stroke: #FFFFFF;
    stroke-linejoin: round; /*Added this css*/
    stroke-dashoffset: 1080;
}