.calculatorGrid
{
    padding-right: 2vmin;
    padding-left: 2vmin;
    margin-top: 1vmin;
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
