.Info-Building-list
{
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.Building-img
{
    height: 4vmin;
    pointer-events: none;
}