.Info-Category-list
{
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin: 20px 10px;
    white-space: nowrap;
}

.Category-img
{
    height: 8vmin;
    pointer-events: none;
}