.App {
    text-align: center;
}
body, ul, li {
    margin:0;
    padding:0;
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.Owned {
    background: #265eef;
}

.NotOwned {
    background: #ef3926;
}

.fit-all-width
{
    width:100%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.Body
{
    color: white;
}

.ul-horizontal {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 19px;
    overflow: auto;
    text-align: center;
    list-style-type: none;
}

.imageWrapper {
    position: relative;
}

.imageWrapper .cornerLink {
    opacity: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: #ffffff;
    background: #000000;
    text-decoration: none;
    text-align: center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: transform 300ms ease-out, opacity 150ms;

}

.imageWrapper:hover .cornerLink {
    opacity: 0.8;
    transform: translateY(100%);
}
