.App {
    text-align: center;
}
body, ul, li {
    margin:0;
    padding:0;
}

.App-logo {
    height: 4vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.Owned {
    background: #265eef;
    border-radius: 10px;
    border-color: #ffffff;
}

.NotOwned {
    border-radius: 10px;
    border-color: #265eef;
    background: #ef3926;
}

.Lock{
    border-radius: 10px;
    border-color: #265eef;
    background: darkgray;
}

.fit-all-width
{
    width:100%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.Body
{
    color: white;
}
.BroMine
{
    color: #FF5C00;
}

.Red
{
    color: red;
}


.ul-horizontal {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 19px;
    overflow: auto;
    text-align: center;
    list-style-type: none;
    column-gap: 3vmin;
}

.imageWrapper {
    position: relative;
    image-rendering: pixelated;
}

.imageWrapper .cornerLink {
    opacity: 0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #000000;
    text-decoration: none;
    text-align: center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: transform 300ms ease-out, opacity 150ms;
    margin-top: -25px;
    margin-bottom: 25px;

    color: #FF5C00;

}

.imageWrapper:hover .cornerLink {
    opacity: 0.8;
    transform: translateY(0%);
}



.container {
    position: relative;
    height: 100%;
    z-index: 0;
}

.falling-image {
    position: absolute;
    bottom: 100%;
    z-index: 0;
    animation: fall 3s linear infinite;
    height: 16vmin;
}

@keyframes fall {
    0% {
        bottom: 100%;
        opacity: 1;
        transform: translateY(-100%) rotateZ(0deg);
    }
    100% {
        opacity: 0.0;
        transform: translateY(100vh) rotateZ(360deg);
    }
}

.modal {
    display: none;
}
.modal-back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba( 0, 0, 0, .25 )
}
.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 25px;
    background: white;
    transform: translate(-50%, -50%)
}


button
{
    background-color: #FF5C00;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

